[General]
clientHost = 192.168.0.70

[Sensor0]
sensitivity = 7778
midiCC = 102
minValue = 0
maxValue = 58
defaultValue = -1
slideUp = 0.2
slideDown = 0.4
samples = 4

[Sensor1]
sensitivity = 12328
midiCC = 103
minValue = 11
maxValue = 92
defaultValue = -1
slideUp = 0.2
slideDown = 0.4
samples = 4

[Sensor2]
sensitivity = 7778
midiCC = 104
minValue = 0
maxValue = 127
defaultValue = -1
slideUp = 0.2
slideDown = 0.4
samples = 4

[Sensor3]
sensitivity = 7778
midiCC = 105
minValue = 0
maxValue = 127
defaultValue = -1
slideUp = 0.2
slideDown = 0.4
samples = 4


